body{
    background-color: lightgreen;

}

.birthday-card{
    position:relative;
    width:300px;
    height:395px;
    border:10px solid goldenrod;
    margin:60px auto 0 auto;
     background: linear-gradient(45deg,goldenrod,rgb(29, 1, 1)) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

.cover-outer{
    position:absolute;
    width: 100%;
    height:100%;
    border:10px solid goldenrod;
    backface-visibility: hidden;
    margin:-10px 0 0 -10px;
    border-radius: 5px;
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    transition: all 0.8s ease-in-out;
    transform:perspective(800px) rotateY(0deg);
    
}

img{
    box-shadow:0px 6px 11px 7px rgba(0,0,0,0.22);
    border-radius: 5px;
}

.cover-inner{
    position:absolute;
    width:100%;
    height:100%;
    border:10px solid goldenrod;
    background-color: goldenrod;
    margin:-10px 0 -10px 0;
    backface-visibility: visible;
    filter:drop-shadow(2px 2px 4px rgba(0,0,0,0.5));
    transform-style: preserve-3d;
    transform-origin: 0% 50%;
    transition: all 0.8s ease-in-out;
    transform:perspective(800px) rotateY(0deg);

    img{
        transform:rotateY(170deg);
    }
}
.upper{
    font-size: larger;
}

.text{
  
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 100px;
    font-family: cursive;
    font-size: larger;
    color:blanchedalmond;
    
}   

.birthday-card:hover{
    .cover-outer{
        transform:perspective(800px) rotateY(-170deg);
    }
    .cover-inner{
        transform:perspective(800px) rotateY(-170deg);
        box-shadow: 7px 0 5px 0 rgba(0,0,0,0.1);
    }

}

